/* Test File */
@font-face {
  font-family: 'Averta';
  src: url('https://s3.amazonaws.com/developers.shopstyle.com/czimmerman/averta-regular-webfont.woff') format('woff'),
    url('https://s3.amazonaws.com/developers.shopstyle.com/czimmerman/averta-regular-webfont.ttf') format('truetype');
  font-style: normal; 
}

.bk-app-controller-container,
#root {
  font-family: 'Averta' !important  ;
}

.bk-title-description .bk-title-section .bk-title {
  /* color: #369894; */
}

.rd-button-background-light.rd-button-secondary.rd-button-size-m, .rd-button-background-light.rd-button-secondary.rd-button-size-s, .rd-button-background-light.rd-button-secondary.rd-button-size-xs:not(.rd-button-with-text) {
  background-color: #369894 !important;
  color: #fff !important;
}

/* Sets the style for the text entry form in the search bar */
/* .sage-search-box-module__bkSageTextContent {
  color:orange;
  text-transform: uppercase;
}

#sage-bar-tour-service-id {
  background-color: red;
}

#32958276-348a-424f-9a58-989425e49d0e .kpi-module__hero::after {
  content: url('https://qa.shopstyle-cdn.com/sim/6a/78/6a78142d3beab447fc4e5dfa9d078a99_best/adrianna-papell-beaded-gown.jpg');
  width: 100px;
  height: 100px;
}

#c5b3abdf-d9be-4d05-9abb-e8378c01802b .kpi-module__hero::after {
  content: url('https://qa.shopstyle-cdn.com/sim/63/a3/63a342210168e6cd15b20c7ecdec6ef5_best/everyday-dress-s-3xl.jpg');
  width: 100px;
  height: 100px;
}

#1564ce93-ab6c-4f3f-80f0-4b6bfd0310de .kpi-module__hero::after {
  content: url('https://qa.shopstyle-cdn.com/sim/63/a3/63a342210168e6cd15b20c7ecdec6ef5_best/everyday-dress-s-3xl.jpg');
  width: 100px;
  height: 100px;
}

#77baf83a-b889-46ef-923c-3b6c770ee502 .kpi-module__hero::after {
  content: url('https://qa.shopstyle-cdn.com/sim/59/dc/59dc43ab12f15059fa009ca131338234_best/puff-sleeve-sequin-ball-gown.jpg');
  width: 100px;
  height: 100px;
}

#08a414be-3bc8-4fd8-8f49-6a93d24d8be1 .kpi-module__hero::after {
  content: url('https://qa.shopstyle-cdn.com/sim/ef/ca/efca5e8a436152b5e380f560ffe49230_xlarge/maelen-dress-mustard-shibori.jpg');
  width: 100px;
  height: 100px;
}

#da2619dc-9d4b-4939-adb3-6ef4f627814a .kpi-module__hero::after {
  content: url('https://qa.shopstyle-cdn.com/sim/6a/9a/6a9ad888750ca3879a699d391ba1e15b_xlarge/floral-embroidery-halter-neck-gown.jpg');
  width: 100px;
  height: 100px;
}
 */
